---
layout: default
title: Home
---

<!-- original
<div class="hero">
  <img src="{{ site.baseurl }}{{ site.hero.image }}" />
  <p>{{ site.hero.caption }}</p>
  <p>$ J(\theta) = \frac{1}{m} \sum^m_{i=1} Cost(h_\theta(x),y) $</p>
</div>
-->

<!-- copied from blog/categories.html -->
<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
